{{!
< default}} <div class="container">
	<div class="jumbotron">
			<hr />

		{{#if data.announcements}}
			{{#each data.announcements}}
				<p>
					{{title}} : {{description}}
				</p>
			{{/each}}
		{{/if}}

		<hr />

		{{#if data.ministries}}
			{{#each data.ministries}}
				{{#if homePage}}
					<p>
						{{title}} : {{time}}
					</p>
				{{/if}}
			{{/each}}
		{{/if}}

		<hr />

		{{#if data.events}}
			{{#each data.events}}
				<p>
					{{title}} : {{{description}}}
				</p>
			{{/each}}
		{{/if}}

		<hr />

	</div>
</div>