{{!< default}}
{{#if data.announcements}}
	<h1> Announcements </h1>
	{{#each data.announcements}}
		<p> {{title}} : {{description}} </p>
	{{/each}}
	<hr />
{{/if}}


{{#if data.ministries}}
	<h1> Services </h1>
	{{#each data.ministries}}
		{{#if homePage}}
			<p> {{title}} : {{time}} </p>
		{{/if}}
	{{/each}}
	<hr />
{{/if}}


{{#if data.events}}
	<h1> Events </h1>
	{{#each data.events}}
		<p> {{title}} : {{{description}}} </p>
	{{/each}}
{{/if}}
