{{!< default}}
{{#each data.teachingCategories}}
	<h2> {{name}} </h2>
	<p> {{{description}}} </p>
	{{#each books}}
		<div><a class="teaching__link" href=/teachings/{{slug}}>{{name}}</a></div>
	{{/each}}
	{{#if @last}} {{else}} <hr /> {{/if}}
{{/each}}
