{{!< default}}
{{#if data.teachings}}
	{{#each data.teachings}}
		<h2><a href="/teachings">{{category}}</a></h2>
		<h3>{{name}}</h3>
		<hr />
		{{#each teachings}}
			<div><a class="teaching__link" href="/teachings/{{../key}}/{{key}}">{{title}}</a></div>
		{{/each}}
	{{/each}}
{{/if}}