{{!< default}}

<div class="{{#if data.isMain}}hide__desktop{{else}}hide{{/if}}">
{{#each data.abouts}}
		<h1> <a href="about/{{slug}}">{{title}} </a></h1>
		{{#if @last}} {{else}} <hr /> {{/if}}
	{{/each}}
</div>

<div class="{{#if data.isMain}}hide__mobile{{/if}}">
	{{#each data.abouts}}
		<div class="large-vertical-margin">
			<h1> {{title}} </h1>
			<p> {{{description}}} </p>
		</div>
	{{/each}}
</div>


