{{!< default}}

{{#if data.announcements}}
	<h1 class="hide__mobile"> Announcements </h1>
	{{#each data.announcements}}
	<div class="announcement {{#ifeq important true}}important-announcement{{/ifeq}}">
		<span class="home__title">{{title}}</span> :
		<div class="home__description"> {{description}} </div>
	</div>
	{{/each}}
	<hr />
{{/if}}

{{#if data.ministries}}
	<h1> Services </h1>
	<div class="home__ministries-container">
		<div class="home__ministries-item-left">
			<img class="home__ministries-image" src="images/worship.jpg" alt="Wnpmorship">
		</div>
		<div class="home__ministries-item-right">
			{{#each data.ministries}}
				{{#if homePage}}
					<div class="home__description">
						<span class="home__title">{{title}}</span> :
						<div class="home__ministries-time">
							{{time}}
						</div>
					</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
	<hr />
{{/if}}

{{#if data.events}}
	<h1> Events </h1>
	{{#each data.events}}
		<div> <span class="home__title">{{title}}</span> : </div>
		<div class="home__description"> {{{description}}} </div>
	{{/each}}
{{/if}}

<hr />

<h1> Recent Teachings </h1>
<div class="home__teachings-container">
	<div class="home__teachings-item">
		{{#if data.sunTeaching }}
			<a href='/teachings/{{data.sunTeaching.books.slug}}/{{data.sunTeaching.slug}}'>
				<img class="home__teachings-image" src="images/teaching-sun.jpg" alt="Sunday Teaching">
				<div class="home__teachings-title">
					{{data.sunTeaching.title}}
				</div>
			</a>
			<div class="home__teachings-date">
				{{data.sunTeaching.formattedDate}}
			</div>
		{{/if}}
	</div>
	<div class="home__teachings-item">
		{{#if data.wedTeaching }}
			<a href='/teachings/{{data.wedTeaching.books.slug}}/{{data.wedTeaching.slug}}'>
				<img class="home__teachings-image" src="images/teaching-wed.jpg" alt="Wednesday Teaching">
				<div class="home__teachings-title">
					{{data.wedTeaching.title}}
				</div>
			</a>
			<div class="home__teachings-date">
				{{data.wedTeaching.formattedDate}}
			</div>
		{{/if}}
	</div>
</div>
