{{!< default}}
<h2>{{data.teachings.books.categories.name}}</h2>
<h3><a href="/teachings/{{data.teachings.books.slug}}">{{data.teachings.books.name}}</a></h3>
<hr />

<h3> Teaching: {{data.teachings.title}} </h3>
<h3> {{data.teachings.code}} </h3>
{{#if data.teachings.teachers.name}}
	<h3> Teacher: {{data.teachings.teachers.name}} </h3>
{{/if}}

<div class="teaching__player-container">
	{{#if data.teachings.teachingUpload.filename}}
		{{>audioPlayer}}
	{{else}}
		<p>No teaching has been uploaded.</p>
	{{/if}}
<div>