{{!< default}}
{{#if data.teachings}}
	{{#each data.teachings}}
		<h2><a href="/teachings">{{category}}</a></h2>
		<h3>{{name}}</h3>
		<hr />
		<div class="teaching__container">
			{{#each teachings}}
				<div class="teaching__column">
					<a class="teaching__link" href="/teachings/{{../slug}}/{{slug}}">
						{{title}}
					</a>
				</div>
			{{/each}}
			<div class="teaching__column"></div>{{!--Needed for spacing orphen grid items--}}
		</div>
	{{/each}}
{{/if}}